spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}?sslmode=require
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
    tomcat:
      default-auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  freemarker:
    expose-request-attributes: true
    cache: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 376327279231-6173c2nas3aes28g5hm6t1kgjupvc8h5.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
server:
  port: ${PORT:8080}